<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="fragment/head :: head"> <head/>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand">Кинотеатр</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/login}">Войти</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/registration}">Регистрация</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div class="container mt-3 pl-5">
    <h5>Добро пожаловать, Гость!</h5>
    Это сервис по продаже билетов в кинотеатр.
</div>
</body>
</html>